* {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 25px;
  color: white;
}

.search-button:hover {
  background: rgb(167, 84, 84);
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
